#big-box {
    margin: 0% 20% 10% 20%;
}

#box {
    height: 400px;
    background-color: seashell;
    width: inherit;
    margin: 0%;
    border-radius: 10px;
    overflow: auto;
}

#message-box {
    background-color: antiquewhite;
}

#send {
    width: 100px;
    margin-top: 10px;
}

.eliza {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    padding-bottom: 1px;
    height: 35px auto;
    background-color: dodgerblue;
    width: auto;
    max-width: 70%;
    border-radius: 10px;
}

.user {
    float: right;
    display: inline-block;
    padding: 10px;
    padding-bottom: 1px;
    height: 35px auto;
    background-color: limegreen;
    width: auto;
    max-width: 70%;
    border-radius: 10px;
}

.space {
    height: 30px;
}